@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

body {
    font-family: "IBM Plex Sans KR";
    color: #F8F8F2;
    background-color: #282A36;
    word-break: break-all;
    white-space: pre-line;
    text-align: center;
}

body {
    background-color: #282A36;
}

h1 {
    color: #F1FA8C;
}

.hidden {
    display: none;
}

/* Dracula Colorscheme */
.current-line {
    color: #44475A
}

.foreground {
    color: #F8F8F2
}

.comment {
    color: #6272A4
}

.cyan {
    color: #8BE9FD
}

.green {
    color: #50FA7B
}

.orange {
    color: #FFB86C
}

.pink {
    color: #FF79C6
}

.purple {
    color: #BD93F9
}

.red {
    color: #FF5555
}

.yellow {
    color: #F1FA8C
}