@font-face {
    font-family: 'IBM Plex Sans Kr Regular';
    src: url('../fonts/IBM-Plex-Sans-KR/IBMPlexSansKR-Regular.woff');
}

body {
    font-family: 'IBM Plex Sans KR';
    background-color: #282A36;
}

.con_number {
    background-color: #FF79C6;
}

.con_desc {
    background-color: #56FA77;
    text-align: center;
    width:100px;
    height:30px;
    font-size:10pt;
}
