---
layout: default
make-smaller-titles: true
---

<!-- <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./src/index_style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div style="text-align: center;">
    <br>
    <br>
    <img src="" />
    <br>
    <h1 class="hack">YG1ee Blog</h1>
  </div>
  <div style="text-align: center; font-size: 50px;">
    <a href="./caticon/index.html">😺</a> <a href="./WDtoUK/index.html">🇺🇦</a>
  </div>
</body>
</html> -->

<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="{{site.title_image}}" class="img-circle about-image" height=auto width="150" alt="{{ site.title }}" />
            </div>

            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>

            <div class="author-text">
                {{ site.title_description }}
            </div>

            {% include social_links.html %}
          </div>
          <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Latest Articles</h2>

              <ul>
                  {% for post in site.posts limit: site.post_limit %}

                      <li>
                          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                          <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                      </li>

                  {% endfor %}
                  <li>
                      <small><i><a href="{{ site.baseurl }}/posts/">more...</a></i></small>
                  </li>
              </ul>

            </div>

        </div>

    </div>
</div>
