@font-face {
    font-family: 'hackregular';
    src: url('./fonts/Hack/hack-regular-webfont.woff2') format('woff2'),
         url('./fonts/Hack/hack-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #282A36;
    color: white;
    font-family: 'hackregular';
}

.pink {
    color: #FF79C6
}

.green {
    color: #56FA77
}

.yellow {
    color: #F1FA8C;
}

a {
    text-decoration: none;
    color: #F1FA8C;
}
