/*
@font-face {
    font-family: 'hackregular';
    src: url('hack-regular-webfont.woff') format('woff'),
         url('hack-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('../fonts/Nanum/NanumGothic.eot') format('embedded-opentype'),
         url('../fonts/Nanum/NanumGothic.woff') format('woff');
}
*/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=PT+Mono&display=swap');

@font-face {
    font-family: 'SeoulNamsan';
    src: url('../fonts/Seoul/08SeoulNamsanM.ttf')
}

tr {
    background-color: #FFFFF0;
    font-family: 'SeoulNamsan';
}

.con_number {
    background-color: bisque;
}

.con_desc {
    background-color: rgb(219, 255, 195);
    text-align: center;
    width:100px;
    height:30px;
    font-size:10pt;
}
